<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Social Media Section -->
      <div class="col-md-4 footer-section">
        <h5>Follow Us</h5>
        <ul class="social-icons">
          <li>
            <a
              href="https://www.facebook.com"
              target="_blank"
              aria-label="Facebook"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.twitter.com"
              target="_blank"
              aria-label="Twitter"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com"
              target="_blank"
              aria-label="Instagram"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              aria-label="LinkedIn"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- Quick Links Section -->
      <div class="col-md-4 footer-section">
        <h5>Quick Links</h5>
        <ul class="footer-links">
          <li class="link" routerLink="/about">About Us</li>
          <li class="link" routerLink="/services">Services</li>
          <li class="link" routerLink="/contact">Contact Us</li>
          <li class="link" routerLink="/privacy">Privacy Policy</li>
          <li class="link" routerLink="/terms">Terms of Service</li>
        </ul>
      </div>

      <!-- Contact Information -->
      <div class="col-md-4 footer-section">
        <h5>Contact Us</h5>
        <p>Email: pushparajmehta002&#64;gmail.com</p>
        <p>Phone: +91 7635022185</p>
        <p>Address: 360020 RKU Hostel, Rajkot</p>
      </div>
    </div>

    <!-- Copyright Information -->
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          &copy; 2024
          <a href="https://www.yourwebsite.com" target="_blank"
            >pushparajmehta</a
          >
          - All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
