.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left: 20px;
}

.navbar ul li {
    padding: 0 20px; 
}
.logo{
    width: 50px;
}
.logo img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }
    
}

