<nav class="navbar">
  <div class="logo" routerLink="/home">
    <img src="assets/logo.avif" alt="logo" />
  </div>
  <ul>
    <li class="link" routerLink="/">Home</li>
    <li class="link" routerLink="/portfolio">Portfolio</li>
    <li class="link" routerLink="/skills">Skills</li>
    <li class="link" routerLink="/services">Services</li>
    <li class="link" routerLink="/about">About</li>
    <li class="link" routerLink="/contact">Contact</li>
  </ul>
  <div>
    <button class="button" routerLink="/">Learn More</button>
  </div>
</nav>
