<nav class="navbar">
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/images/logo.png" alt="logo" />
    </a>
  </div>
  <ul>
    <li class="link" routerLink="/">Home</li>
    <li class="link" routerLink="/portfolio">Portfolio</li>
    <li class="link" routerLink="/skills">Skills</li>
    <li class="link" routerLink="/services">Services</li>
    <li class="link" routerLink="/about">About</li>
    <li class="link" routerLink="/contact">Contact</li>
  </ul>
  <div>
    <button class="button" routerLink="/">Learn More</button>
  </div>
</nav>
